Source: check-raid
Section: devel
Priority: optional
Maintainer: Maximilian Falkenstein <mfalkenstein@sos.ethz.ch>
Build-Depends: debhelper (>= 9), libextutils-makemaker-cpanfile-perl,
  libmonitoring-plugin-perl
Standards-Version: 3.9.8
Homepage: https://github.com/glensc/nagios-plugin-check_raid
Vcs-Git: https://github.com/SOSETH/check_raid.git
Vcs-Browser: https://github.com/SOSETH/check_raid

Package: check-raid
Architecture: all
Depends: ${perl:Depends}
Description: Check RAID status
