#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	dh_auto_install $@
	mkdir -p debian/check-raid/usr/lib/nagios/plugins
	mv debian/check-raid/usr/bin/check_raid.pl debian/check-raid/usr/lib/nagios/plugins/
	rm -Rf debian/check-raid/usr/bin

override_dh_auto_test:
	# make -j1 test TEST_VERBOSE=1
	# Tests try to access a tty which won't work in Docker. Ship them for
	# now :/
	/bin/true
